header {
    background-color: #e28585;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  h1, h2, h3 {
    font-family: Arial, sans-serif;
    color: #2e2b2b;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 1em;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 1em;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    font-size: 16px;
  }
  
  .profile-picture {
    float: left;
    margin-right: 1em;
  }
  
  